<div class="mx-auto flex w-full max-w-80 flex-col sm:min-w-80">
  <a
    href="/"
    class="mb-4 inline-flex items-center cursor-pointer text-primary-700 self-start text-sm font-medium underline-offset-4 hover:underline">
    <mat-icon class="mr-1 size-4" svgIcon="arrow-left"></mat-icon>
    Back home
  </a>

  <div class="text-4xl leading-tight font-extrabold tracking-tight">Sign up</div>
  <div class="mt-0.5 flex items-baseline font-medium">
    <div class="text-neutral-500">Already have an account?</div>
    <a class="ml-1 underline underline-offset-4 hover:underline text-primary-600" routerLink="/auth/sign-in">
      Sign in
    </a>
  </div>

  <form class="mt-8" (submit)="signUp($event)">
    <div class="flex flex-col gap-y-4">
      <mat-form-field class="w-full">
        <mat-label>Name</mat-label>
        <input id="name" matInput [formField]="signUpForm.name" />
        @if ((signUpForm.name().touched() || signUpForm.name().dirty()) && signUpForm.name().errors()[0]; as error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Email address</mat-label>
        <input id="email" matInput [formField]="signUpForm.email" />
        @if ((signUpForm.email().touched() || signUpForm.email().dirty()) && signUpForm.email().errors()[0]; as error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Password</mat-label>
        <input id="password" matInput type="password" [formField]="signUpForm.password" #passwordField />
        <button
          matIconButton
          type="button"
          (click)="
            passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')
          "
          matSuffix>
          @if (passwordField.type === 'password') {
            <mat-icon class="size-5" svgIcon="eye"></mat-icon>
          }
          @if (passwordField.type === 'text') {
            <mat-icon class="size-5" svgIcon="eye-off"></mat-icon>
          }
        </button>
        @if (
          (signUpForm.password().touched() || signUpForm.password().dirty()) && signUpForm.password().errors()[0];
          as error
        ) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Confirm password</mat-label>
        <input
          id="confirmPassword"
          matInput
          type="password"
          [formField]="signUpForm.confirmPassword"
          #confirmPasswordField />
        <button
          matIconButton
          type="button"
          (click)="
            confirmPasswordField.type === 'password'
              ? (confirmPasswordField.type = 'text')
              : (confirmPasswordField.type = 'password')
          "
          matSuffix>
          @if (confirmPasswordField.type === 'password') {
            <mat-icon class="size-5" svgIcon="eye"></mat-icon>
          }
          @if (confirmPasswordField.type === 'text') {
            <mat-icon class="size-5" svgIcon="eye-off"></mat-icon>
          }
        </button>
        @if (
          (signUpForm.confirmPassword().touched() || signUpForm.confirmPassword().dirty()) &&
            signUpForm.confirmPassword().errors()[0];
          as error
        ) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>
    </div>

    @if (authStore.error(); as error) {
      <app-message class="mt-4" [message]="error" (dismissed)="authStore.clearError()" />
    }

    <button
      type="submit"
      matButton="filled"
      class="mt-6 w-full"
      [disabled]="signUpForm().invalid() || authStore.isLoading()">
      {{ authStore.isLoading() ? 'Creating account...' : 'Create my account' }}
    </button>
  </form>
</div>
